@font-face {
    font-family: LexendaTarra;
    src: url(fonts/LexendTera-VariableFont_wght.ttf);
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: DM Sans;
    src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

header {
    font-family: LexendaTarra;
}

body {
    background: #ECECEC;

}

.care_color {
    color: #007E85;
}

header .Sign_up {
    color: #007E85;
    text-align: center;
    font-family: LexendaTarra;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.8px;
    text-transform: capitalize;
}

header .link_header {
    color: #000;
    text-align: center;
    font-family: LexendaTarra;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
    text-transform: capitalize;

}

header .btn_color {
    border-radius: 8px;
    background: #007E85;
    color: white;
}

.nav-link {
    position: relative;

}

.nav-link.active:before {
    content: '';
    height: 2px;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);

}


.nav-link.active:hover:before {
    background-color: #007E85;

}

.nav-link.active:hover {
    color: #007E85;
    ;
}

.switch {
    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;
    margin: 9px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.section1 img {
    width: 100%;
    height: auto;
}

.section2 .btn_sec2_contant_us {
    width: 20%;
    font-family: DM Sans;

}

.section2 .care_background_color {
    background: #007E85;
    border-radius: 8px;
}

.section3 .sec9_input {
    width: 40%;

}

.section3 .sec9_1 {
    border-radius: 20px;
}

footer {
    background: #007E85;
    color: white;
    font-family: DM Sans;

}

footer ul li {
    color: #FFF;
    /* text-align: center; */
    font-feature-settings: 'clig' off, 'liga' off;

    /* Text single/200/Regular */
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 100% */
    list-style-type: none;
}

.footer_icon {
    background: white;
    color: black;
    border-radius: 6px;
    width: 34px;
    text-align: center;
}